body {
    font-family: Arial, Helvetica, sans-serif;
}

.cat-header {
    background-color: yellow;
    text-align: center;
    margin: 6px 3px;
}

.cat-col {
    border: 1px black solid;
    display: inline-block;
    white-space: nowrap;
}

#soft-prio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

#soft-prio-grid>div {
    min-width: 200px;
}

.cat-header-hard-prio-container {
    display: inline;
}

.todo {
    text-align: left;
    padding: 5px;
    margin: 5px;
    background-color: lightblue;
    height: 20px;
}

.todo-prio {
    display: inline-block;
    text-align: left;
    font-size: 15px;
    border: black 1px;
}

.todo-desc {
    display: inline-block;
    text-align: left;
}

#hard-prio-grid {
    border: solid 1px black;
    margin: 10px 0px;
}

.hp-todo {
    background-color: lightgreen;
}

#main-add-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}