:root {
    --blue: #0081A7;
    --green: #00AFB9;
    --yellow: #FDFCDC;
    --orange: #FED9B7;
    --red: #F07167;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cat-header {
    background-color: var(--green);
    text-align: center;
}

.cat-col {
    border: 1px black solid;
    display: inline-block;
    white-space: nowrap;
}

#soft-prio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

#soft-prio-grid>div {
    min-width: 200px;
}

.cat-header-hard-prio-container {
    display: inline;
}

#hard-prio-grid {
    border: solid 1px black;
    margin: 10px 0px;
}

#main-add-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.todo {
    display: block;
    background: var(--blue);
    border-radius: 6px;
    padding: 5px 10px;
    color: white;
    position: relative;
    margin: 5px 0px;
}

.todo-text {
    display: inline-block;
    width: 75%;
}

.inline-indicator {
    display: inline-block;
    position: absolute;
}

.prio {
    right: 8px;
}

.days {
    color: yellow;
    font-weight: bold;
    right: 38px;
}

.short {
    right: 75px;
    font-style: italic;
    color: var(--yellow);
    font-weight: bold;
}

.jira {
    right: 88px;
    font-style: italic;
    color: var(--orange);
}